<div class="container">
    
    
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row">
            <img src="<%= @user_image%>"></img>
            <h1>Name: <%= @user_display_name %></h1>
            <h1>User ID: <%= @user.uid %></h1>
            <h1>Email Address: <%= @user_email %></h1>
            <h1>Country: <%= @user_country %></h1>
            <h1>Number of followers: <%= @user_followers %></h1>
            
        </div>    
    </div>
    <div class="col-md-2"></div>
    
</div>


