<div class="container" id="container">
  <div class="col-md-12">
    <% if @current_user.respond_to?(:uid) %>
    <%= content_tag :div, class: "temp_information", data: {temp: @track.to_json} do %>
    <% end %>
      <h1>Here are your playlists</h1>
        <div class="container">
          <input id="search-field" type="text" name="search" class="form-control home_search" placeholder="narrow your playlists by playlist name or song title" autocomplete="off">
              <div class="col-lg-12">
                <!--<input type= "submit" class= "btn btn-lg btn-success" value= "search!">-->
                <% @user_playlists.each do |playlist| %>
                  <div class="row playlist-div filterable">
                    <hr>
                      <h3 class="playlist-name"><%= playlist.name %></h3>
                      <% if playlist.description != nil %>
                          <q><%= playlist.description %></q>
                      <% end %>
                      <% playlist.tracks.each do |track| %>
                            <h5 class="track-name"><%= track.name %></h5><p><%= track.popularity %></p>
                            <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                              <span class="close">x</span>
                              <b id="modal-text">
                              </b>
                            </div>
                          </div>
                      <% end %>
                  </div>
                  <% end %>
                <hr>
              </div>
        </div>
    <% else %>
        <h1 id="login-message">Login to view your playlists</h1>
    <% end %>
    </div>
</div>


