<div class="container">
    <div class="row">
    <form action= "/playlists/searchresults" method="get">
      <input type="text" name="search" class="form-control home_search" placeholder="song, artist, album..", autocomplete="off"><br>
      <p>
        <input type= "submit" class= "btn btn-lg btn-success" value= "search!">
      </p>
    </form>

    <div class="list-group">
        <h1>Tracks</h1>
        <table class="table table-striped">
        <tbody>
        <% @tracks.each do |track| %>
            <tr>
                <td>
                    <a href="#" class="list-group-item list-group-item-action">
                        <h5 class="list-group-item-heading"><%= track.name %></h5>
                        <p class="list-group-item-text"><%= track.album.name %></p>
                    </a>
                </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <h1>Artists</h1>
        <table class="table table-striped">
        <tbody>
        <% @artists.each do |artist| %>
            <tr>
                <td>
                    <a href="#" class="list-group-item list-group-item-action">
                        <h5 class="list-group-item-heading"><%= artist.name %></h5>
                        <p class="list-group-item-text"><%= artist.popularity %></p>
                    </a>
                </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <h1>Albums</h1>
        <table class="table table-striped">
        <tbody>
        <% @albums.each do |album| %>
            <tr>
                <td>
                    <a href="#" class="list-group-item list-group-item-action">
                        <h5 class="list-group-item-heading"><%= album.name %></h5>
                        <p class="list-group-item-text"><%= album.release_date %></p>
                    </a>
                </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
