<%= form_for @profile, url: user_profiles_path(current_user) do |p| %>
  <div class="field clear border-top">
    <%= p.label :first_name %>
    <%= p.text_field :first_name, :class => "form-control" %><br />
  </div>
  <div class="field">
    <%= p.label :last_name %>
    <%= p.text_field :last_name, :class => "form-control" %><br />
  </div>
  <div class="field">
    <%= p.label :blurb %>
    <%= p.text_area :blurb, :class => "form-control" %><br />
  </div>

  <div class="field">
    <!--  
   <%= p.label :photo %>
    <%= p.file_field :photo %>
-->
    <%= p.hidden_field :user_id, :value => current_user.id %>

    <%= p.submit %>
  </div>
<% end %>